<div class="main-card mb-3 card" *ngIf="userList">
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive" style="overflow-x:hidden;">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="width: 8%;">ID</th>
                                <th style="width:25%;">First Name</th>
                                <th style="width: 25%;">Last Name</th>
                                <th style="width: 20%;">Email</th>
                                <th style="min-width:40px;width:40px;">&nbsp;</th>
                                <th style="min-width:40px;width:40px;">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of userList">
                                <td class="pad1">{{item.id}}</td>
                                <td class="pad1">{{item.first_name}}</td>
                                <td class="pad1">{{item.last_name}}</td>
                                <td class="pad1">{{item.email}}</td>
                                <td class="pr-0"><button style="float: right; padding: 0; margin-right: 5px;" (click)="route(item.id)" type="button" class="btn btn-outline-primary btn-sm"><span class="material-icons">edit</span></button></td>
                                <td class="pl-0"><button style="float: right; padding: 0;" type="button" class="btn btn-outline-danger btn-sm" (click)="remove(item.id,item)"><span class="material-icons">delete</span></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>