<div class="main-card mb-3 card">
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <label class="col-2 col-form-label">Name</label>
                    <div class="col-10">
                        <input type="text" class="form-control" #name required>
                    </div>
                </div>
                <div class="form-group row pt-2">
                    <label class="col-2 col-form-label">Surname</label>
                    <div class="col-10">
                        <input type="text" class="form-control" #lastname required>
                    </div>
                </div>
                <div class="form-group row pt-2">
                    <label class="col-2 col-form-label">Email</label>
                    <div class="col-10">
                        <input type="email" class="form-control" #email required>
                    </div>
                </div>
                <div class="form-group row pt-3">
                    <div class="col-10 offset-2">
                        <button class="btn btn-sm btn-primary" type="submit" (click)="save(name,lastname,email)">Save</button>
                        <button class="btn btn-sm btn-danger ml-1" type="button" (click)="cancel()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>